body {
  background-image: url(https://www.futurepedia.io/diamond-lattice.png), linear-gradient(25deg, #d0e7fb, #a3d0f7, #b3e3c6, #66a5de);
	background-size: auto, 500% 500%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.navbar-background{
    background-color: transparent;
}
.main-logo{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
.nav-items{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: black;
    margin-left: 10px;
}
.integrate-main-headidng{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: bold;
    font-size: 60px;
  }
.search {
    flex: 0 0 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search__input {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: #333333;
    background-color: #f4f2f2;
    border: none;
    padding: 14px 72px 14px 42px;
    border-radius: 1000px;
    width: 94%;
    margin-left: -34px;
    margin-right: -66px;
    transition: all 0.2s;
  }
  
  .search__input:focus {
    outline: none;
    width: 100%;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    color: #999999;
  }
  
  .search__button {
    border: none;
    background-color: transparent;
    z-index: 999;
    cursor: pointer;
  }
  
  .search__button:focus {
    outline: none;
  }
  
  .search__button:active {
    transform: translateY(2px);
  }
  
  .search__icon {
    height: 20px;
    width: 20px;
    fill: #999999;
    margin-bottom: 10px;
  }
  #sendButton {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  #sendButton svg {
    height: 18px;
    transition: all 0.3s;
  }
  #sendButton svg path {
    transition: all 0.3s;
  }
  #sendButton:hover svg path {
    fill: #3c3c3c;
    stroke: white;
  }
  
.Grid-button{
  text-align: right;
}
.card-container{
  background-color:#dde5eb;
  width: 190px;
  height: 254px;
  border-radius: 10px;
  padding:10px;
  text-align: center;
}
.card-container-2{
  background-color:#dde5eb;
  width: 490px;
  height: 254px;
  border-radius: 10px;
}
.integrate-margin{
  margin-top: 180px;
}
.btn-one {
  border: none;
  width: 120px;
  height: 
  40px;
  border-radius: 3em;
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1C1A1C;
  cursor: pointer;
  transition: all 450ms ease-in-out;
  padding: 10px;
  margin: auto;
}

.sparkle {
  fill: #AAAAAA;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #AAAAAA;
  font-size: 16px;
}

.btn-one:hover {
  background: linear-gradient(0deg,#A47CF3,#683FEA);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2),
  0px 0px 180px 0px #9917FF;
  transform: translateY(-2px);
}

.btn-one:hover .text {
  color: white;
}

.btn-one:hover .sparkle {
  fill: white;
  transform: scale(1.2);
} 



nav{
  background-color:transparent;
}
nav ul{
width: 100%;
list-style: none;
display:flex;
justify-content: flex-end;
align-items: center;
font-family: 'Poppins', sans-serif;
}

nav li{
  height: 50px;

}


nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items:center;
  color:black;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}


nav a:hover{
  color: black;
  text-shadow: 2px 2px 8px #ffffff;
  text-decoration: none;
  font-size: 24px;
}


nav li:first-child{
  margin-right: auto;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index:999;
  background-color:  rgba(255,255,255,0.2);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

@media(max-width:768px){
.hideOnMobile{
  display: none;
}
}

@media(max-width:400px){
  .sidebar{
    width: 100%;
  }
}
